@import "tailwindcss";

@config "../../tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&family=Concert+One&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lobster&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html {
    font-family: "Rubik", sans-serif;
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Rubik", sans-serif;
}
