$bg-gray: #A3A3A3;
$bg-white: #ffffff;
$bg-secondary: #152331;
$bg-primary: #45612D;
$bg-primary-hover: #6e984a;
$bg-orange: #DD9932;
$text-orange: #bf8f45;
$text-primary: #101d2b;
$text-secondary: #626262;
$text-white: #ffffff;