@layer utilities {
    .animate-spin-slow {
        animation: spin 30s linear infinite;
    }
}

@layer components {
    .ant-form-item-explain-error {
        color: #ff4d4f !important;
        text-align: right !important;
    }
}
